/*css para la navbar*/
.navbar{
    background-color: $colorPrincipal;
    img{
        width: 50px;
    }
    a{
        font-size: $textoMediano;
        color: aliceblue;
        margin-right: 1rem;
        font-family: $fuentePrincipal;
        &:hover{
            color: black;
        }
    }    
}