.clientes-150 {
    background-color: $colorPrincipal;
    font-weight: $textoNegrita;
    padding: 5rem;
    p{
        text-align: center;
    }
    img{
        display: none;
    }
}
@media(min-width:800px){
    .clientes-150 img{
        display: block;
    }
}

.clientes h1{
    font-size: 5rem;
    font-weight: $textoNegrita;
    margin: 5rem 0;
    text-align: center;
}

.card{
    background-color: $colorPrincipal;
    height: 60rem;
    margin: 2rem;
    border-radius: 0  0  2rem 2rem;
    h2{
        color: white;
        margin: 1rem 0;
    }
}
.card-img-top{
    height: 35rem;
}
.btn{
    background-color: black;
    width: 15rem;
    height: 5rem;
    font-size: 2rem;
    color: aliceblue;

}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    .card-text{
        padding: 1.5rem;
    }
}
