.clientes-150 {
    background-color: $colorPrincipal;
    font-weight: $textoNegrita;
    padding: 5rem;
    p{
        text-align: center;
    }
}
.clientes h1{
    font-size: 5rem;
    font-weight: $textoNegrita;
    margin: 5rem 0;
    text-align: center;
}

.card{
    background-color: $colorPrincipal;
    height: 60rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
}
.card-img-top{
    height: 35rem;
}
.btn{
    background-color: black;
    width: 15rem;
    height: 5rem;
    font-size: 2rem;
    color: aliceblue;

}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
